// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"dark-green": #76A17F,
	"light-green": #D5E1C9,
	"light-blue": #88AAD3,
	"grey": #FAFAFA

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.input-text{
	font-size: 0.7em;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.label-subtitle{
	font-size: 0.7em;
}

.complete-icon{
	font-size: 7rem;
	margin-bottom: 110px;
}


#ProcesBar {
	gap: 20px;
	.col {
		height: 6px;
		background-color: white;

	}
}

#ProfilePic{
	height: 230px;
	width: 230px;
	border-radius: 50%;
	object-fit: contain;
	overflow: hidden;
	border: 8px solid var(--bs-light-blue);
}

.new-match-pic{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	object-fit: contain;
	overflow: hidden;
	border: 4px solid var(--bs-light-blue);

}

.btn{
	background-color: white;
	color: black;
	padding: 4px 20px;
}

#DoneIcon{
	height: auto;
	width: 150px;
}
main {
	min-height: calc(100vh - 82px);
	display: flex;
	flex-direction: column;
}
#QuizTabs {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
#QuizTabs .tab-pane.show {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	& > div:first-child {
		flex-grow: 1;
	}
}

.quiz-navigation-btn:not(.show),
.quiz-answer:not(.show),
.yes-button.hide,
.no-button.hide {
	display: none;
}
.quiz-navigation-btn {
	border-width: 0;
}
.description-text{
	padding-inline-start: 30px;
}

.question-icon{
	font-size: 70px;
}